@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

@font-face {
  font-family: "Glockenspiel";
  src: url("/Glockenspiel.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eceef0;
}

a {
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.swiper-backface-hidden .swiper-slide {
  display: flex;
  justify-content: center;
}

.dark .swiper-pagination-bullet {
  background-color: white;
}

.dark .swiper-pagination-bullet-active {
  background-color: #0783f6;
}

.file-selected {
  background-color: rgb(120 113 108);
}

.inner-shadow-bottom {
  box-shadow: inset 0px -6px 10px -10px rgba(0, 0, 0, 0.4);
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(140deg, #4086C6, #CA81ED);
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(140deg,  #4086C6, #CA81ED);
  cursor: pointer;
}

html.dark main {
  background-color: #1f2937;
}